@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Business Search</h1>
    <p>Use our application to find businesses in your area.</p>
    <a asp-controller="BusinessSearch" asp-action="Index" class="btn btn-primary">Start Searching</a>
</div>


