@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
</p>
<p>
    If you don't receive an email within a few minutes, please check your spam folder or try again.
</p>